<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.realtimechatapplication">

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/ic_chat"
        android:label="Chat App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealTimeChatApplication">
        <activity android:name=".Adapter.SettingsActivity">

        </activity>
        <activity android:name=".GroupChatActivity" />
        <activity android:name=".ChatDetailActivity" />
        <activity
            android:name=".signInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>